<!DOCTYPE html>
<html lang="de">

<head>
  {{ partial "head.html" . }}
</head>

<body>
  {{ partial "header.html" . }}

  <main>
    {{ block "main" . }}{{ end }}
  </main>

  {{ partial "footer.html" . }}
</body>

{{ $jsHome := resources.Get "js/scroller-home.js" | js.Build (dict "target" "es6" ) | resources.Minify | resources.Fingerprint }}
{{ $jsOther := resources.Get "js/scroller-other.js" | js.Build (dict "target" "es6" ) | resources.Minify | resources.Fingerprint }}



{{ if .IsHome }}
<script src="{{ $jsHome.RelPermalink }}" type="module"></script>
{{ else }}
<script src="{{ $jsOther.RelPermalink }}" type="module"></script>
{{ end }}

</html>